-e git+https://github.com/machow/siuba.git@docs-fix-imports#egg=siuba
seaborn
plotnine
ipykernel
jupyter
nbconvert
tabulate

# duckdb ----
duckdb
duckdb_engine

# quartodoc ----
quartodoc

# examples ----
requests

# data ----
nycflights13
